{% extends 'art_gallery/base.html' %}
{% block content %}
	<!-- <h1>Welcome to the art gallery app</h1> -->
	{% for gallery in gallery_list %}
	<div class="card col-lg-3" style="width: 15rem; margin: 2rem">
		<img class="card-img-top" src="https://i1.wp.com/cdn.whatsuplife.in/gurgaon/blog/2018/05/art-gallery-gurgaon.jpg?resize=823,411" alt="Card image cap">
		<!-- <div style="background-image: linear-gradient(to right, #0062E6, #33AEFF);;height: 200px; width: 100%"></div> -->
		<div class="card-body">
			<h6 class="card-title">{{gallery.gallery_name}}</h6>
			<p class="card-title">{{gallery.location}}</p>
			<a href="{% url 'art_gallery_app:exhibition' gallery.gallery_id %}" class="btn btn-dark">Open Gallery</a>
		</div>
	</div>
	{% endfor %}
{% endblock content %}